:root {
  --primary: #605DFF;
  --primary-dark: #4a00e0;
  --primary-light: #5DA8FF;
  --secondary: #1D1D1D;
  --social-background: #E9E9E9;
  --social-background-hover: #dddddd;
  --text: #1F2346;
  --white: #FFFFFF;
  --violet: #8e2de2;
  --error: #ff0000;
}
#title {
  color: var(--white);
  margin: 0;
  position: relative;
  font-size: 50px;
  margin-bottom: 20px;
}
#title-c {
  color: var(--white);
  margin: 0;
  text-align: center;
  position: relative;
  font-size: 50px;
  margin-bottom: 20px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  font-family: 'Work Sans', sans-serif;
  padding: 1rem;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: url(./app/_img/img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.socials-row {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.socials-row img {
  width: 1.5rem;
  height: 1.5rem;
}
.socials-row > a {
  border-radius: 10rem;
  width: 100%;
  min-height: 3rem;
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 1.1rem;
  color: var(--text);
  padding: 0.5rem;
  background: var(--social-background);
  font-weight: 700;
}
.socials-row > a:hover {
  background: var(--social-background-hover);
}
.login-welcome-row {
  margin-bottom: 1rem;
  text-align: center;
}
.welcome-message {
  max-width: 24rem;
}
.logo {
  height: 3rem;
  margin: 0 auto;
}
#my-form-login {
  display: flex;
  flex-direction: column;
  justify-content: start;
  position: relative;
  gap: 1rem;
  background: var(--white);
  width: 100%;
  max-width: 32rem;
  padding: 3rem 2rem;
  border-radius: 2rem;
  height: fit-content;
}
#my-form-register {
  display: flex;
  flex-direction: column;
  justify-content: start;
  position: relative;
  gap: 1rem;
  background: var(--white);
  width: 100%;
  max-width: 32rem;
  padding: 3rem 2rem;
  border-radius: 2rem;
  height: fit-content;
}
#contacto-form {
  display: flex;
  flex-direction: column;
  justify-content: start;
  position: relative;
  gap: 1rem;
  background: var(--white);
  width: 100%;
  max-width: 32rem;
  padding: 3rem 2rem;
  border-radius: 2rem;
  height: fit-content;
}
.my-form_button {
  background: var(--primary);
  color: white;
  white-space: nowrap;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  line-height: 3.125rem;
  outline: none;
  font-size: 1.125rem;
  letter-spacing: 0.025rem;
  text-decoration: none;
  cursor: pointer;
  font-weight: 800;
  min-height: 3.125rem;
  width: 100%;
  border-radius: 10rem;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}
.my-form_button:hover {
  background: var(--primary-dark);
}
.input_wrapper {
  position: relative;
  padding: 0.9375rem 0 0;
  margin-bottom: 0.5rem;
}
.input_field {
  font-size: 1.5rem;
  color: var(--text);
  padding: 0.375rem 0;
  padding-right: 2rem;
  padding-bottom: 0.5rem;
  line-height: 2rem;
  height: 2rem;
  outline: 0;
  border: 0;
  width: 100%;
  vertical-align: middle;
  padding-bottom: 0.7rem;
  border-bottom: 3px solid var(--secondary);
  background: transparent;
  transition: border-color 0.2s;
}
.input_field ::placeholder {
  color: transparent;
}
.input_field:placeholder-shown~.input_label {
  cursor: text;
  color: var(--text);
  top: 0.8rem;
  font-size: 1.2rem;
}
.input_label {
  user-select: none;
}
.input_label .input_label,
.input_label .input_field:focus ~ .input_label {
  position: absolute;
  top: -0.8rem;
  display: block;
  font-size: 1.2rem;
  color: var(--text);
  transition: 0.3s;
}
.input_field:focus ~ .input_label {
  color: var(--primary);
}
.input_field:focus {
  border-bottom: 3px solid var(--primary);
}
.input_field:focus ~ svg {
  stroke: var(--primary);
}
.input_icon {
  position: absolute;
  right: -0.875rem;
  bottom: -0.6875rem;
  width: 2.25rem;
  height: 2.25rem;
  padding: 0.125rem;
  transform: translate(-50%, -50%);
  transform-origin: center;
  cursor: pointer;
}
.input_icon :hover {
  border-radius: 50%;
}
.my-form_actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--secondary);
  gap: 1rem;
  margin-top: 0.5rem;
}
.my-form_actions a {
  color: var(--secondary);
  font-weight: 600;
  text-decoration: none;
}
.my-form_actions a:hover {
  text-decoration: underline;
}
.my-form_row {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
}
.page-link {
  text-decoration: underline;
  margin: 0;
  text-align: end;
  color: var(--text);
  text-decoration-color: var(--primary-dark);
}
.page-link-label {
  cursor: pointer;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 10px;
  font-weight: 700;
}
.page-link-label :hover {
  color: var(--violet);
}
.menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--secondary);
}
.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: visible;
}
.menu-item {
  float: left;
  position: relative;
}
.menu-item a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.menu-item a:hover {
  background-color: var(--primary-dark);
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--secondary);
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  color: #ffffff;
  padding: 16px 18px;
  text-decoration: none;
  display: block;
  text-align: center;
}
.dropdown-content a:hover {
  background-color: var(--primary-dark);
}
.menu-item:hover .dropdown-content {
  display: block;
}
#btn-logout{
  padding-top: 20px;
  float: right;
  background: var(--secondary);
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: var(--white);
  padding: 0.75rem;
  cursor: pointer;
  font-size: 15px;
  font-family: 'Work Sans', sans-serif;;
  border: none;
  border-radius: 10px;    
}
#btn-logout:hover {
  background: var(--primary-dark);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}
footer {
  padding: 3rem;
  color: var(--text);
}
footer section a {
  margin: 0;
  float: right;
}
footer section h4 {
  color: var(--white);
  margin: 0;
  position: relative;
  float: right;
  padding-right: 15px;
}
footer p {
  margin: 0;
}
footer a {
  transition: color 0.4s ease;
  color: var(--white);
  text-decoration: none;
}
footer a:visited {
  color: var(--text);
}
footer a:hover {
  color: var(--primary-light);
}
footer .copy {
  color: var(--white);
  text-align: left;
}

.error {
  color: var(--error);
}

.escondido {
  display: none;
}
